

.main {
    position: relative;
    width: 100%;
    min-height: calc(100vh - 60px);
}
/*video*/
canvas {
    position: absolute;
}
.video-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
#video{
    border-radius:10px;
    box-shadow:#000;
}